<a href="https://colab.research.google.com/github/Kusvihawan/AI_DataScience/blob/master/Heart%20Fail%20Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Import Library
import pandas as pd
# Import Data to Google Colab
df = pd.read_csv('https://raw.githubusercontent.com/Kusvihawan/AI_DataScience/master/heart_failure_clinical_records_dataset.csv', sep = ',')
df

# Show 10 first Row
df.head(10).T

                                 0          1  ...          8         9
age                           75.0      55.00  ...      65.00      80.0
anaemia                        0.0       0.00  ...       0.00       1.0
creatinine_phosphokinase     582.0    7861.00  ...     157.00     123.0
diabetes                       0.0       0.00  ...       0.00       0.0
ejection_fraction             20.0      38.00  ...      65.00      35.0
high_blood_pressure            1.0       0.00  ...       0.00       1.0
platelets                 265000.0  263358.03  ...  263358.03  388000.0
serum_creatinine               1.9       1.10  ...       1.50       9.4
serum_sodium                 130.0     136.00  ...     138.00     133.0
sex                            1.0       1.00  ...       0.00       1.0
smoking                        0.0       0.00  ...       0.00       1.0
time                           4.0       6.00  ...      10.00      10.0
DEATH_EVENT                    1.0       1.00  ...       1.00       1.0

[13 rows x 10 columns]

In [11]:
# Prints Descriptive Statistics
df.describe().transpose()

                          count           mean  ...       75%       max
age                       299.0      60.833893  ...      70.0      95.0
anaemia                   299.0       0.431438  ...       1.0       1.0
creatinine_phosphokinase  299.0     581.839465  ...     582.0    7861.0
diabetes                  299.0       0.418060  ...       1.0       1.0
ejection_fraction         299.0      38.083612  ...      45.0      80.0
high_blood_pressure       299.0       0.351171  ...       1.0       1.0
platelets                 299.0  263358.029264  ...  303500.0  850000.0
serum_creatinine          299.0       1.393880  ...       1.4       9.4
serum_sodium              299.0     136.625418  ...     140.0     148.0
sex                       299.0       0.648829  ...       1.0       1.0
smoking                   299.0       0.321070  ...       1.0       1.0
time                      299.0     130.260870  ...     203.0     285.0
DEATH_EVENT               299.0       0.321070  ...       1.0       1.0

[13 rows x 8 columns]

In [14]:
# Select Features
feature = df.drop(['time','DEATH_EVENT'], axis=1)
feature

      age  anaemia  creatinine_phosphokinase  ...  serum_sodium  sex  smoking
0    75.0        0                       582  ...           130    1        0
1    55.0        0                      7861  ...           136    1        0
2    65.0        0                       146  ...           129    1        1
3    50.0        1                       111  ...           137    1        0
4    65.0        1                       160  ...           116    0        0
..    ...      ...                       ...  ...           ...  ...      ...
294  62.0        0                        61  ...           143    1        1
295  55.0        0                      1820  ...           139    0        0
296  45.0        0                      2060  ...           138    0        0
297  45.0        0                      2413  ...           140    1        1
298  50.0        0                       196  ...           136    1        1

[299 rows x 11 columns]

In [15]:
target = df['DEATH_EVENT']
target

0      1
1      1
2      1
3      1
4      1
      ..
294    0
295    0
296    0
297    0
298    0
Name: DEATH_EVENT, Length: 299, dtype: int64

In [26]:
# Set Training and Testing Data (70:30)
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test  = train_test_split(feature , target, shuffle = True, test_size=0.3, random_state=1)

# Show the Training and Testing Data
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(209, 11)
(90, 11)
(209,)
(90,)

# RFC

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

classifier = RandomForestClassifier(n_estimators = estimators, random_state=0, criterion='entropy')
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
cm_c = metrics.confusion_matrix(y_test, y_pred)
cm_c

array([[56,  8],
       [16, 10]])

In [25]:
acc = metrics.accuracy_score(y_test, y_pred)
prec = metrics.precision_score(y_test, y_pred)
rec = metrics.recall_score(y_test, y_pred)
f1 = metrics.f1_score(y_test, y_pred)
kappa = metrics.cohen_kappa_score(y_test, y_pred)

print("Accuracy:", acc)
print("Precision:", prec)
print("Recall:", rec)
print("F1 Score:", f1)
print("Cohens Kappa Score:", kappa)

Accuracy: 0.8
Precision: 0.625
Recall: 0.35714285714285715
F1 Score: 0.45454545454545453
Cohens Kappa Score: 0.34306569343065685

# GNB

In [28]:
# Import Module
from sklearn.naive_bayes import GaussianNB 

# Modeling Naive Bayes Classifier
gnb = GaussianNB()
gnb.fit(X_train, y_train)

# Predict to Test Data
y_pred_gnb= gnb.predict(X_test)
cm_gnb = metrics.confusion_matrix(y_test, y_pred_gnb)
cm_gnb

array([[62,  2],
       [20,  6]])

In [29]:
# Show the Accuracy, Precision, Recall
acc_gnb = metrics.accuracy_score(y_test, y_pred_gnb)
prec_gnb = metrics.precision_score(y_test, y_pred_gnb)
rec_gnb = metrics.recall_score(y_test, y_pred_gnb)
f1_gnb = metrics.f1_score(y_test, y_pred_gnb)
kappa_gnb = metrics.cohen_kappa_score(y_test, y_pred_gnb)

print("Accuracy:", acc_gnb)
print("Precision:", prec_gnb)
print("Recall:", rec_gnb)
print("F1 Score:", f1_gnb)
print("Cohens Kappa Score:", kappa_gnb)

Accuracy: 0.7555555555555555
Precision: 0.75
Recall: 0.23076923076923078
F1 Score: 0.3529411764705882
Cohens Kappa Score: 0.25113464447806355

# DTC

In [30]:
from sklearn import tree

# Modeling Decision Tree
dtc = tree.DecisionTreeClassifier(min_impurity_decrease=0.01)
dtc.fit(X_train, y_train)

# Predict to Test Data 
y_pred_dtc = dtc.predict(X_test)
cm_dtc = metrics.confusion_matrix(y_test, y_pred_dtc)
cm_dtc

array([[57,  7],
       [17,  9]])

In [31]:
acc_dtc = metrics.accuracy_score(y_test, y_pred_dtc)
prec_dtc = metrics.precision_score(y_test, y_pred_dtc)
rec_dtc = metrics.recall_score(y_test, y_pred_dtc)
f1_dtc = metrics.f1_score(y_test, y_pred_dtc)
kappa_dtc = metrics.cohen_kappa_score(y_test, y_pred_dtc)

print("Accuracy:", acc_dtc)
print("Precision:", prec_dtc)
print("Recall:", rec_dtc)
print("F1 Score:", f1_dtc)
print("Cohens Kappa Score:", kappa_dtc)

Accuracy: 0.7333333333333333
Precision: 0.5625
Recall: 0.34615384615384615
F1 Score: 0.4285714285714286
Cohens Kappa Score: 0.2672998643147896